.about_bg{
    background-color:#020518;
    height: 100%;
    width: 100%;
}
.about_container{
     background-color:#ffffff0a;
     padding: 10px;
     height: 100%;
     z-index: -1;
}

h2,h4,h5 , p{
    color:#fff
}
.about_hr{
    margin-top: 30px;
    border-bottom: 3px solid orangered;
}
